.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin: 5vw auto;
    padding: 5vw;
    border-radius: 12px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
    background: linear-gradient(to right, #ffdee9, #b5fffc);
}

label {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    margin-top: 10px;
    margin-bottom: 5px;
}

input[type="text"],
input[type="URL"],
textarea,
input[type="date"] {
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid rgb(253, 170, 225);
    background-color: #fff;
    font-size: 16px;
    color: #333;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
}

input:focus,
textarea:focus {
    border-color: #ff82d7;
    outline: none;
    box-shadow: 0px 0px 6px rgba(255, 130, 215, 0.5);
}

button[type="submit"] {
    margin-top: 2vw;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    background-color: #327297;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 40%;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button[type="submit"]:hover {
    background-color: #28469f;
    transform: scale(1.05);
}

button[type="submit"]:active {
    transform: scale(0.98);
}