@import url('https://fonts.googleapis.com/css2?family=Abel&family=Katibeh&family=Playball&family=Poppins:wght@300&display=swap');


*{
    margin:0;
    padding:0;
}
.header{
    display: flex;
    justify-content: space-between;
}
.slogan{
    margin-top:8vw;
    margin-right:3vw;
    width:60vw;
    text-align: center;
    font-family: "Katibeh", serif;
    font-size:50px;
}
.slogan button{
    font-family: "Katibeh", serif;
    font-size:2.25vw;
    margin-top:2vw;
    padding-bottom: 1vw;
    width:13vw;
    height:3.5vw;
    border-radius:4vw;
    border-style: none;
    background-color:#FF3D00 ;
    color:white;
    cursor: pointer;
}
.slogan button:hover{
    background-color:#0066ff;
    border:4px solid rgb(148, 147, 147);
}
.slogan button:active{
    background-color:#ff0000;
}

.text{
    position: absolute;
    width:700px;
    height:400px;
    top:50vw;
    left:23vw;
    text-align: center; 
    font-family: 'poppins', sans-serif;
    font-size:25px;
    background-color: rgba(255, 255, 255, 0.664);
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.777);
    padding:4vw 1vw 1vw 1vw;
}
.cards{
    margin:5vw 1vw 3vw 1vw;
    display: flex;
    justify-content: space-between;
    gap:3vw;
    font-family:"Katibeh", serif ;
}
.symptoms,.cravings,.disorders{
    width:40vw;
    height:40vw;
    border-radius: 2vw;
    text-align: center;
}
.symptoms{
    background-color: #FFDCCD;
}
.cravings{
    background-color: #FF9898;
}
.disorders{
    background-color: #FF6565;
}
.symptoms h1,.cravings h1,.disorders h1{
    padding-top: 2vw;
    font-size: 40px;
}
.symptoms img,.cravings img,.disorders img{
   margin-top:8vw;
   margin-left: 5vw;
}
.symlist, .cravlist, .dislist{
    position: absolute;
    top: 101vw;
    font-size:25px;
    text-align: left;
    width:15vw;
    background-color: rgba(255, 255, 255, 0.741);
    padding:2vw 1vw 2vw 1vw;
}
.symlist{
    left:5vw;
    padding-left:6vw;
    box-shadow: 4px 4px 4px #fac0a8 ;
}
.cravlist{
    left:37.5vw;
    padding-left:8vw;
    box-shadow: 4px 4px 4px #fe7474 ;
}
.dislist{
    left:71vw;
    padding:2vw 2vw 3.5vw 2vw;
    width:20vw;
    box-shadow: 4px 4px 4px rgb(251, 89, 89) ;
    font-size: 22.36px;
}
.learnMoresym,.learnMorecrav,.learnMoredis{
    position: absolute;
    top:127vw;
    width:13vw;
    height: 4vh;
    font-size: 15px;
    border-radius: 2vw;
    border-style: none;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.749);
    background-color: #fa5d2e;
    font-weight: 600;
    color: white;
    cursor: pointer;
}
.learnMoresym:hover,.learnMorecrav:hover,.learnMoredis:hover{
    background-color: #ff0000;
}
.learnMoresym:active,.learnMorecrav:active,.learnMoredis:active{
    background-color: #006eff;
}
.learnMoresym{
    left:9.5vw;
}
.learnMorecrav{
    left:43vw;
}
.learnMoredis{
    left:77vw;
}
.footer{
    background-color: black;
    color:white;
    padding:2vw;
    text-align: center;
    font-size:20px;
}