@import url('https://fonts.googleapis.com/css2?family=Abel&family=Playball&family=Poppins:wght@300&display=swap');

*{
    padding:0;
    margin:0;
}
.nav{
    padding:0.25vw;
    display: flex;
    justify-content: space-between;
   box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
   font-family: "Poppins", sans-serif;
}
#logo img{
    width:17vw;
}
.icons{
    display: flex;
    justify-content: space-between;
    gap:7vw;
    font-size:9px;
    margin-right:5vw;
    margin-top: 2vw;
    cursor: pointer;
   
}
.icons h1{
    color:black;
    text-decoration: underline solid rgb(255, 255, 255);
}
.icons button{
    width:7vw;
    height:5vh;
    border-radius:2vw;
    border-style: none;
    background-color: #FF3D00;
    color:white;
    font-size:18px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}
.icons button:hover{
    background-color:#0066ff;
}
.icons button:active{
    background-color:#ff0000;
}